<div id="cover">
    <div class="cover-img"></div>
    <div class="cover-info">
        <% if (custom.avatarShow) { %>
        <img class="avatar" width="72" src="<%= custom.avatarImage %>" alt="avatar"/>
        <% } %>
        <h1 class="cover-siteName"><%= custom.siteName %></h1>
        <h3 class="cover-siteTitle"><%= custom.coverTitle %></h3>
        <p class="cover-siteDesc"><%= custom.coverDescription %></p>
        <div class="cover-sns">
            <% for (let snsKey in custom.sns){ %>
            <div class="btn btn-<%= snsKey %>">
                <a href="<%= custom.sns[snsKey] %>" target="_blank" title="<%= snsKey %>" ref="friend">
                    <i class="fa fa-<%= snsKey %>"></i>
                </a>
            </div>
            <% } %>
        </div>
    </div>
</div>
